.awesome-container{
    width: 100%;
    /* height: 100vh; */
}

.awesome-container__subcontainer{
    width: 1170px;
    height: 665px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 480px) and (max-width: 1023px){
    
    .awesome-container__subcontainer{
        width: 992px;
        height: 518px;
    }
}

@media screen and (max-width: 479px){
    .awesome-container__subcontainer{
        width: 288px;
        height: 1199px;
        margin-top: 30px;
    }
}

.awesome-container__subcontainer h2{
    height: 150px;
    font-weight: 400;
    font-size: 36px;
    line-height: 150px;
    text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 1023px){

    .awesome-container__subcontainer h2{
        height: 120px;
        font-size: 24px;
        line-height: 120px;
    }
}

@media screen and (max-width: 479px){

    .awesome-container__subcontainer h2{
        height: 120px;
        font-size: 18px;
        line-height: 120px;
    }
}

.awesome-container__separator{
    width: 170px;
    margin: 0 auto;
    border: 0.5px solid #EC7979;
}

@media screen and (min-width: 480px) and (max-width: 1023px){

    .awesome-container__separator{
        width: 142px;
    }
}

@media screen and (max-width: 479px){
    .awesome-container__separator{
        width: 134px;
    }
}

.awesome-container__subcontainer h5{
    height: 21px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

@media screen and (min-width: 480px) and (max-width: 1023px){

    .awesome-container__subcontainer h5{
        height: 16px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 32px;
    }
}

@media screen and (max-width: 479px){

    .awesome-container__subcontainer h5{
        height: 30px;
        font-size: 13px;
        line-height: 30px;
        margin-top: 25px;
    }
}

.awesome-container__subcontainer section{
    height: 383px;
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

@media screen and (min-width: 480px) and (max-width: 1023px){

    .awesome-container__subcontainer section{
        height: 310px;
        margin-top: 32px;
    }
}

@media screen and (max-width: 479px){

    .awesome-container__subcontainer section{
        height: 318px;
        margin-top: 50px;
        display: block;
    }
}

.awesome-container__subcontainer section article{
    width: 370px;
}

@media screen and (min-width: 480px) and (max-width: 1023px){

    .awesome-container__subcontainer section article{
        width: 318px;
    }
}

@media screen and (max-width: 479px){

    .awesome-container__subcontainer section article{
        width: 288px;
    }
}

.awesome-container__subcontainer section img{
    display: block;
    margin: 0 auto;
    margin-top: 39px;
}


@media screen and (min-width: 480px) and (max-width: 1023px){

    .awesome-container__subcontainer section img{
        width: 79.55px;
        height: 79,55px;
        margin-top: 33.72px;
    }
}

@media screen and (max-width: 479px){
    .awesome-container__subcontainer section img{
        width: 79.55px;
        height: 79,55px;
        margin-top: 33.72px;
    }
}

.awesome-container__subcontainer section h4{
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100px;
    text-align: center;
    margin-top: 39px;
}

@media screen and (min-width: 480px) and (max-width: 1023px){

    .awesome-container__subcontainer section h4{
        height: 82px;
        font-size: 18px;
        line-height: 82px;
        margin-top: 33.72px;
    }
}

@media screen and (max-width: 479px){

    .awesome-container__subcontainer section h4{
        height: 82px;
        font-size: 18px;
        line-height: 82px;
        margin-top: 33.72px;
    }
}

.awesome-container__subcontainer section h5{
    height: 105px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
}

@media screen and (min-width: 480px) and (max-width: 1023px){

    .awesome-container__subcontainer section h5{
        height: 80px;
        font-size: 14px;
        margin-top: 17px;
    }
}

@media screen and (max-width: 479px){

    .awesome-container__subcontainer section h5{
        height: 80px;
        font-size: 14px;
        margin-top: 9px;
        line-height: 14px;
    }
}
