/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap'); */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.awesome_container{
    width: 1170px;
    margin: 0 auto;
}

.awesome_container__title{
    margin-top: 50px;
    width: 1170px;
    height: 150px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 150px;
    text-align: center;
    color: #000000;
}

.awesome_container__separator{
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    margin: 0 500px;
}

.awesome_container__subtitle{
    width: 1169px;
    height: 21px;
    margin: 40px 0 0 1px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.awesome_container__content{
    margin-top: 110px;
}

.awesome_container__item{
    width: 370px;
    height: 383px;
    display: inline-block;
}

.awesome_container__item--logo{
    padding: 0 139px 0 139px;
}

.awesome_container__content h4{
    width: 369px;
    height: 100px;
    font-family: Open Sans, sans-serif;
    padding: 39px 0 8px 1px;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

.awesome_container__content h5{
    width: 370px;
    height: 105px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
