.axit-container{
    height: 951px;
    margin: 0 auto;
    background-image: url(../images/background-axit.png);
    background-size: cover;
    
}

.axit-container__content{
    height: 951px;
}

.axit-container__left{
    width: 670px;
    height: calc(58px + 42px + 42px + 42px + 1px + 55.12px + 168px + 72.88px + 55px);
}

.axit-container__right{
    width: 470px;
    height: 450px;
}