.customers-container{
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

.customers-container h2{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
}

.customers-container__separator{
    width: 170px;
    border: 1px solid #EC7979;
    margin: 0 auto;
}

.customers-container__text{
    margin-top: 40px;
    height: 21px;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #86878B;
}

.customers-container__items{
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
}

.customers-container__items div{
    width: 370px;
    height: 180px;
    background: #E2E2E2;
    border-radius: 10px;
}

.customers-container__items h5{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
}

.customers-container__triangles{
    display: flex;
}

.customers-container__triangles--first{
    margin-left: 70px;
}

.customers-container__triangles--second{
    margin-left: 370px;
}

.customers-container__triangles--thrid{
    margin-left: 370px;
}

.customers-container__people{
    height: 180px;
    display: flex;
    justify-content: space-between;
}

.customers-container__items div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers-container__people--first,
.customers-container__people--second,
.customers-container__people--third{
    width: 370px;
    height: 180px;
}

.customers-container__people--first{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.customers-container__people--first h4{
    width: 269px;
    height: 54px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 54px;
}

.customers-container__people--first h5{
    width: 270px;
    height: 21px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.customers-container__people--second{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers-container__people--second h4{
    width: 269px;
    height: 54px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 54px;
}

.customers-container__people--second h5{
    width: 270px;
    height: 21px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.customers-container__people--third{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.customers-container__people--third h4{
    width: 269px;
    height: 54px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 54px;
}

.customers-container__people--third h5{
    width: 270px;
    height: 21px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
